<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <nav>
            <router-link to="/top">Top Page</router-link>
            <router-link to="/users">Users Page</router-link>
            <router-link to="/users/new?redirect=true">Create New User</router-link>
            <router-link to="/login" v-show="!Auth.loggedIn()">Login</router-link>
            <router-link to="/logout" v-show="Auth.loggedIn()">Logout</router-link>
        </nav>
        <router-view></router-view>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-router/dist/vue-router.js"></script>
    <script type="text/x-template" id="user-list">
        <div>
            <div>ユーザー一覧ページ</div>
            <div class="loading" v-if="loading">読み込み中....</div>
            <div class="error" v-if="error">
                {{error}}
            </div>
            <div v-for="user in users" :key="user.id">
                <h2><router-link :to="{name:'users',params:{ userId:user.id }}">{{user.name}}</router-link></h2>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="user-detail">
        <div>
            <div class="loading">読み込み中......</div>
            <div class="error" v-if="error">
                {{error}}
            </div>
            <div v-if="user">
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="user-create">
        <div>
            <div class="sending" v-if="sending">Sending......</div>
            <div>
                <h2>新規ユーザー作成</h2>
                <div>
                    <label>名前</label>
                    <input type="text" v-model="user.name">
                </div>
                <div>
                    <label>説明文</label>
                    <textarea v-model="user.description" cols="30" rows="10"></textarea>
                </div>
                <div class="error" v-if="error">
                    {{error}}
                </div>
                <div v-if="user">
                    <input type="button" @click="createUser" value="送信">
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="login">
        <div>
            <h2>Login</h2>
            <p v-if="$route.query.redirect">ログインしてください</p>
            <form @submit.prevent="login">
                <label><input v-model="email" placeholder="name"></label>
                <label><input v-model="pass" placeholder="password" type="password"></label>
                <br>
                <button type="submit">ログイン</button>
                <p v-if="error" class="error">ログインに失敗しました</p>
            </form>
        </div>
    </script>
    <script>
        var userData = [
            {
                id: 1,
                name: 'user-1',
                description: 'user-1の詳細'
            },
            {
                id: 2,
                name: 'user-2',
                description: 'user-2の詳細'
            }
        ]
        var getUsers = function(callback){
            setTimeout(function(){
                callback(null, userData)
            },500);
        }
        var getUser = function(userId,callback){
            setTimeout(function(){
                var filteredUsers = userData.filter(function(user){
                    return user.id === parseInt(userId,10)
                })
                //expr1 && expr2 → expr1 を false と見ることができる場合は、expr1 を返します。そうでない場合は、expr2 を返します。
                callback(null,filteredUsers && filteredUsers[0])
            },500);
        }
        var postUser = function(params,callback){
            console.log(params)
            setTimeout(function(){
                params.id = userData.length + 1;
                userData.push(params)
                console.log(params)
                callback(null,params)
            },500)
        }
        var UserList = {
            template: '#user-list',
            data:function(){
                return {
                    loading:false,
                    users:function(){ return []},
                    error:null
                }
            },
            created:function(){
                this.fetchData()
            },
            watch:{
                '$route':'fetchData'
            },
            methods:{
                fetchData:function(){
                    this.loading = true
                    getUsers((function(err,users){
                        this.loading = false
                        if(err){
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this))
                }
            }
        }
        var UserDetail = {
            template: '#user-detail',
            data:function(){
                return {
                    loading:false,
                    user:null,
                    error:null
                }
            },
            created(){
                this.fetchData()
            },
            watch:{
                '$route':'fetchData'
            },
            methods:{
                fetchData(){
                    this.loading = true
                    getUser(this.$route.params.userId,(function(err,user){
                        this.loading = false
                        if(err){
                            this.error = err.toString()
                        } else {
                            this.user = user
                        }
                    }).bind(this))
                }
            }
        }
        var UserCreate = {
            template:'#user-create',
            data:function(){
                return {
                    sending:false,
                    user:this.defaultUser(),
                    error:null
                }
            },
            created:function(){

            },
            methods:{
                defaultUser(){
                    return {
                        name:'',
                        description:''
                    }
                },
                createUser(){
                    this.error = ''
                    if(this.user.name.trim() === ''){
                        this.error += '名前は必須です  '
                    }
                    if(this.user.description.trim() === ''){
                        this.error += '説明文は必須です'
                    }
                    if(this.error.trim() !== '') return
                    postUser(this.user,(function(err,user){
                        this.sending = false
                        if(err){
                            this.error = err.toString()
                        } else {
                            this.error = null
                            this.user = this.defaultUser()
                            alert('新規ユーザーが作成されました')
                            this.$router.push('/users')
                        }
                    }).bind(this))
                }
            }
        }
        var Auth = {
            login:function(email,pass,cb){
                setTimeout(function(){
                    if(email === 'vue@example.com' && pass === 'vue'){
                        localStorage.token = Math.random().toString(36).substring(7)
                        if(cb) { cb(true) }
                    } else {
                        if(cb) { cb(false) }
                    }
                },0)
            },
            logout:function(){
                delete localStorage.token
            },
            loggedIn:function(){
                return !!localStorage.token
            }
        }
        var Login = {
            template: '#login',
            data: function(){
                return {
                    email:'vue@example.com',
                    pass:'',
                    error:false
                }
            },
            methods:{
                login(){
                    Auth.login(this.email,this.pass,(function(loggedIn){
                        if(!loggedIn){
                            this.error = true
                        } else {
                            this.$router.replace(this.$route.query.redirect || '/')
                        }
                    }).bind(this))
                }
            }
        }
        var router = new VueRouter({
            routes:[
                {
                    path: '/top',
                    component:{
                        template:'<div>Topページ</div>'
                    }        
                },
                {
                    path: '/users',
                    component:UserList
                },
                {
                    path:'/users/new',
                    component:UserCreate,
                    beforeEnter:function(to,from,next){
                        if(!Auth.loggedIn()){
                            next({
                                path:'/login',
                                query:{ redirect:to.fullPath }
                            })
                        } else {
                            next()
                        }
                    }
                },
                {
                    //動的ルートマッチング
                    //https://router.vuejs.org/guide/essentials/dynamic-matching.html#reacting-to-params-changes
                    path:'/users/:userId',
                    name:'users',
                    component:UserDetail
                },
                {
                    path:'/login',
                    component:Login
                },
                {
                    path:'/logout',
                    beforeEnter:function(to,from,next){
                        Auth.logout()
                        next('/')
                    }
                }
            ]
        })
        var app = new Vue({
            el:'#app',
            data:{
                Auth: Auth,
            },
            router:router,
        })
    </script>
</body>
</html>